In [22]:
import pandas as pd
import glob
from pathlib import Path

In [2]:
# Create a list of CSV file paths to combine
file_paths = glob.glob("Older_Files/*.csv")

In [3]:
# Initialize an empty list to store DataFrames
dataframes = []

In [4]:
# Read each CSV file into a DataFrame and append it to the list
for file_path in file_paths:
    try:
        df = pd.read_csv(file_path)
        dataframes.append(df)
    except pd.errors.EmptyDataError:
        print(f"Warning: Empty file found at {file_path}")
    except pd.errors.ParserError as e:
        print(f"Error reading file {file_path}: {str(e)}")

In [5]:
# Check if there are valid DataFrames to concatenate
if dataframes:
    # Concatenate all DataFrames into one
    combined_df = pd.concat(dataframes, ignore_index=True)
    
    # Save the combined DataFrame to a new CSV file
    combined_df.to_csv('combined_data.csv', index=False)
else:
    print("No valid DataFrames to concatenate.")

In [6]:
# Concatenate all DataFrames into one
combined_old_files_df = pd.concat(dataframes, ignore_index=True)

In [7]:
combined_old_files_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210454,2476,2021-01-31 20:16:05.4700,2021-01-31 20:57:22.0110,3187,Warren St,40.721124,-74.038051,3483,Montgomery St,40.719420,-74.050990,44852,Subscriber,1958,1
210455,147,2021-01-31 21:05:05.2090,2021-01-31 21:07:32.8660,3186,Grove St PATH,40.719586,-74.043117,3187,Warren St,40.721124,-74.038051,46538,Subscriber,1972,1
210456,660,2021-01-31 21:06:23.5880,2021-01-31 21:17:23.8420,3211,Newark Ave,40.721525,-74.046305,3276,Marin Light Rail,40.714584,-74.042817,44398,Subscriber,1987,2
210457,384,2021-01-31 21:16:37.8220,2021-01-31 21:23:02.1240,3205,JC Medical Center,40.716540,-74.049638,3268,Lafayette Park,40.713464,-74.062859,41400,Subscriber,1989,1
210458,356,2021-01-31 23:24:50.8810,2021-01-31 23:30:47.3030,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,43766,Subscriber,1994,1

In [8]:
# Rename columns
combined_old_files_df.rename(columns={'usertype': 'member_casual', 'starttime': 'started_at',
                          'stoptime' : 'ended_at', 'start station name' : 'start_station_name',
                         'start station latitude' : 'start_lat', 'start station longitude' : 'start_lng',
                        'end station name' : 'end_station_name',
                        'end station latitude' : 'end_lat', 'end station longitude' : 'end_lng',}, inplace=True)
combined_old_files_df.head(10)

,tripduration,started_at,ended_at,start station id,start_station_name,start_lat,start_lng,end station id,end_station_name,end_lat,end_lng,bikeid,member_casual,birth year,gender
0,2333,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,3694,Jackson Square,40.711130,-74.078900,3276,Marin Light Rail,40.714584,-74.042817,42579,Customer,1969,0
1,1203,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3202,Newport PATH,40.727224,-74.033759,42564,Subscriber,1965,1
2,786,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3225,Baldwin at Montgomery,40.723659,-74.064194,42219,Subscriber,1994,1
3,1488,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,3677,Glenwood Ave,40.727551,-74.071061,3194,McGinley Square,40.725340,-74.067622,44424,Subscriber,1995,2
4,2682,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,3191,Union St,40.718211,-74.083639,3193,Lincoln Park,40.724605,-74.078406,42186,Subscriber,1993,1
5,750,2020-07-01 01:05:08.8790,2020-07-01 01:17:39.2000,3276,Marin Light Rail,40.714584,-74.042817,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,42446,Customer,1969,0
6,529,2020-07-01 01:13:12.2900,2020-07-01 01:22:02.2810,3206,Hilltop,40.731169,-74.057574,3187,Warren St,40.721124,-74.038051,44415,Customer,1969,0
7,824,2020-07-01 01:29:46.1440,2020-07-01 01:43:30.2360,3186,Grove St PATH,40.719586,-74.043117,3195,Sip Ave,40.730897,-74.063913,44225,Subscriber,1986,1
8,686,2020-07-01 01:39:17.2430,2020-07-01 01:50:43.3910,3270,Jersey & 6th St,40.725289,-74.045572,3270,Jersey & 6th St,40.725289,-74.045572,20748,Customer,1969,0
9,569,2020-07-01 01:41:39.7920,2020-07-01 01:51:09.7270,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,-74.043117,42258,Subscriber,1992,2

In [9]:
cleaned_older_df = combined_old_files_df.drop(columns=['birth year', 'gender',
                                                    'bikeid', 'start station id', 'end station id',
                                                    'tripduration'])
cleaned_older_df.head()

,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,member_casual
0,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,Jackson Square,40.711130,-74.078900,Marin Light Rail,40.714584,-74.042817,Customer
1,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,Hoboken Ave at Monmouth St,40.735208,-74.046964,Newport PATH,40.727224,-74.033759,Subscriber
2,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,Columbus Dr at Exchange Pl,40.716870,-74.032810,Baldwin at Montgomery,40.723659,-74.064194,Subscriber
3,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,Glenwood Ave,40.727551,-74.071061,McGinley Square,40.725340,-74.067622,Subscriber
4,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,Union St,40.718211,-74.083639,Lincoln Park,40.724605,-74.078406,Subscriber

In [13]:
clean_older_df = cleaned_older_df.replace('Customer', 'casual', inplace=True)
clean_older_df = cleaned_older_df.replace('Subscriber', 'member', inplace=True)
cleaned_older_df.head()

,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,member_casual
0,2020-07-01 00:23:19.8220,2020-07-01 01:02:13.2980,Jackson Square,40.711130,-74.078900,Marin Light Rail,40.714584,-74.042817,casual
1,2020-07-01 00:27:45.2420,2020-07-01 00:47:49.1960,Hoboken Ave at Monmouth St,40.735208,-74.046964,Newport PATH,40.727224,-74.033759,member
2,2020-07-01 00:34:17.8680,2020-07-01 00:47:24.6310,Columbus Dr at Exchange Pl,40.716870,-74.032810,Baldwin at Montgomery,40.723659,-74.064194,member
3,2020-07-01 00:51:07.5310,2020-07-01 01:15:56.0200,Glenwood Ave,40.727551,-74.071061,McGinley Square,40.725340,-74.067622,member
4,2020-07-01 00:51:16.3880,2020-07-01 01:35:58.4590,Union St,40.718211,-74.083639,Lincoln Park,40.724605,-74.078406,member

In [14]:
cleaned_old = cleaned_older_df

In [19]:
cleaned_old['started_at'] = pd.to_datetime(cleaned_old['started_at'],
                                                format='%Y-%m-%d %H:%M:%S.%f')
cleaned_old['ended_at'] = pd.to_datetime(cleaned_old['ended_at'],
                                                format='%Y-%m-%d %H:%M:%S.%f')

In [16]:
cleaned_old.head()

,started_at,ended_at,start_station_name,start_lat,start_lng,end_station_name,end_lat,end_lng,member_casual
0,2020-07-01 00:23:19.822,2020-07-01 01:02:13.2980,Jackson Square,40.711130,-74.078900,Marin Light Rail,40.714584,-74.042817,casual
1,2020-07-01 00:27:45.242,2020-07-01 00:47:49.1960,Hoboken Ave at Monmouth St,40.735208,-74.046964,Newport PATH,40.727224,-74.033759,member
2,2020-07-01 00:34:17.868,2020-07-01 00:47:24.6310,Columbus Dr at Exchange Pl,40.716870,-74.032810,Baldwin at Montgomery,40.723659,-74.064194,member
3,2020-07-01 00:51:07.531,2020-07-01 01:15:56.0200,Glenwood Ave,40.727551,-74.071061,McGinley Square,40.725340,-74.067622,member
4,2020-07-01 00:51:16.388,2020-07-01 01:35:58.4590,Union St,40.718211,-74.083639,Lincoln Park,40.724605,-74.078406,member

In [20]:
cleaned_old.dtypes

started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_lat                    float64
start_lng                    float64
end_station_name              object
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [23]:
# Write the cleaned data to CSV
output_file_path= Path('Resources\merged_old.csv') 
cleaned_old.to_csv(output_file_path, index=False)